

body {
    background-color: rgb(192, 192, 192);
}

.title {
    text-align: center;
}

.adamcontainer {
    width: 400px; 
    background-color: rgb(83, 130, 168); 
    padding: 30px; 
    border-radius: 60px;
}

.adamstyling1 {
    font-family: 'Sora', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
}

.adamstyling2 {
    font-family: 'Sora', sans-serif;
    color: white;
    text-align: justify;
    font-weight: 300;
    border: 1px solid black;
    padding: 10px;
}

.adamimage {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 70%;
    opacity: 1;
    transition: .5s ease;
  backface-visibility: hidden;
}

.adammiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .adameasteregg {
    position: relative;
    width: 50%;
  }

.adameasteregg:hover .image {
    opacity: 0.3;
  }
  
  .adameasteregg:hover .middle {
    opacity: 1;
  }

  .adameastereggtext {
    background-color: #000000;
    font-family: 'Sora', sans-serif;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


#Nick{
    padding-left: 275px;
}
.NickPhoto{
    width: 600px;
    text-align: center;
}
.NickBio{
    background-color: #92CFF8;
    font-size: 20px;
    width: 600px;
}
#nickMotto{
    padding-left: 200px;
    font-family: "US Declaration", "Script", "Times New Roman";
}
.sWEgg{
    text-align: center;
    width:600px;
    font-family: "US Declaration", "Script", "Times New Roman";
}

